robot.flow
[{"id":"979439c3.686bc8","type":"http request","name":"SendInstruction","method":"GET","url":"http://localhost/cgi-bin/rambot.py?action={{action}}&movement={{movement}}","x":823,"y":302,"z":"f3295df4.0cd6a","wires":[["bee095fb.411f68"]]},{"id":"bee095fb.411f68","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1070,"y":390,"z":"f3295df4.0cd6a","wires":[]},{"id":"6b6bc016.94944","type":"inject","name":"TwitterSimulator","topic":"","payload":"#rambot pi","payloadType":"string","repeat":"","crontab":"","once":false,"x":153,"y":613,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"506a50c0.af95b","type":"async","name":"Parse","async":"msg.screenname = msg.topic.split('/')[1];\n//action values:\nvar ACTION_PAN = 'pan';\nvar ACTION_TILT = 'tilt';\nvar ACTION_MOVE = 'move';\nvar ACTION_TURN = 'turn';\nvar ACTION_PIC = 'pic';\n\n// movement default values: \nvar MOVEMENT_pc = -50;\nvar MOVEMENT_pc_delay = 700;\nvar MOVEMENT_pl = -80;\nvar MOVEMENT_pl_delay = 700;\nvar MOVEMENT_pr = -20;\nvar MOVEMENT_pr_delay = 700;\nvar MOVEMENT_tu = 50;\nvar MOVEMENT_tu_delay = 700;\nvar MOVEMENT_td = 0;\nvar MOVEMENT_td_delay = 700;\nvar MOVEMENT_tc = 25;\nvar MOVEMENT_tc_delay = 3000;\nvar MOVEMENT_mf = 50;\nvar MOVEMENT_mf_delay = 50*MOVEMENT_mf;\nvar MOVEMENT_mb = -50;\nvar MOVEMENT_mb_delay = 50*Math.abs(MOVEMENT_mb);\nvar MOVEMENT_tl = -45;\nvar MOVEMENT_tl_delay = 22*Math.abs(MOVEMENT_tl);\nvar MOVEMENT_tr = 45;\nvar MOVEMENT_tr_delay = 22*MOVEMENT_tr;\n\nvar currDelay = 0;\n\nvar validInstructions = ['tl', 'tr', 'tc', 'pl', 'pr', 'pc', 'tu', 'td', 'mf', 'mb', 'pi'];\n\n//convert to lowercase, strip whitespaces and strip #rambot\nmsg.payload = msg.payload.toLowerCase();\nmsg.payload = msg.payload.replace(/ /g,'');\nmsg.payload = msg.payload.replace('#rambot','');\n\n// ensure instruction string consists of even # of chars\nif(msg.payload % 2 == 1){\n\tmsg.payload = msg.payload.substring(0, msg.payload.length-1);\n}\n\nvar delayedAction = function(action, movement, delay) {\n\tcurrDelay = currDelay+delay;\n\t_.delay(function() {\n\t\tcb({screenname : msg.screenname, action:action, movement:movement});\n\t}, currDelay);\t\t\n};\n\nfor (i=0; i<msg.payload.length; i=i+2){\n\tvar singleInstructionCode = msg.payload[i]+msg.payload[i+1];\n\tif(validInstructions.indexOf(singleInstructionCode) != -1){\n\t\t\n\t\tswitch(singleInstructionCode) {\n\t\t\tcase 'pi': \n\t\t\t\tdelayedAction(ACTION_PIC, 0, currDelay+2000);\n\t\t\t\tbreak;\n\t\t\tcase 'pl':\n\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pl, MOVEMENT_pl_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'pr': \n\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pr, MOVEMENT_pr_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'pc': \n\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pc, MOVEMENT_pc_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tu': \n\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_tu, MOVEMENT_tu_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'td': \n\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_td, MOVEMENT_td_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tc': \n\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_tc, MOVEMENT_tc_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'mf': \n\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mf, MOVEMENT_mf_delay);\n\t\t\t\tbreak;\t\t\t\t\t\n\t\t\tcase 'mb': \n\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mb, MOVEMENT_mb_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tl': \n\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tl, MOVEMENT_tl_delay);\n\t\t\t\tbreak;\n\t\t\tcase 'tr': \n\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tr, MOVEMENT_tr_delay);\n\t\t\t\tbreak;\t\t\t\n\t\t}\n\t}\n}","outputs":1,"x":404,"y":303,"z":"f3295df4.0cd6a","wires":[["1d6250d4.e29daf"]]},{"id":"ff914808.006eb8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":622,"y":478,"z":"f3295df4.0cd6a","wires":[]},{"id":"1d6250d4.e29daf","type":"switch","name":"","property":"action","rules":[{"t":"eq","v":"pic"},{"t":"else"}],"checkall":"false","outputs":2,"x":569,"y":303,"z":"f3295df4.0cd6a","wires":[["97648f96.689b7","d7019e94.28fe6"],["bee095fb.411f68","979439c3.686bc8"]]},{"id":"97648f96.689b7","type":"debug","name":"","active":true,"console":"false","complete":"true","x":692,"y":194,"z":"f3295df4.0cd6a","wires":[]},{"id":"f9844e06.067bb","type":"twitter out","twitter":"","name":"Tweet","x":1125,"y":169,"z":"f3295df4.0cd6a","wires":[]},{"id":"48e12cd5.b71ed4","type":"function","name":"Create Tweet","func":"msg.media = msg.payload;\nif(!msg.selfie)\nmsg.payload = \" Schnaaap! @\"+msg.screenname+\" made me do this! #rambot\";\nelse\nmsg.payload = \" #butfirstletmetakeaselfie #rambot\";\nreturn msg;","outputs":1,"x":947,"y":169,"z":"f3295df4.0cd6a","wires":[["2a824439.d57dbc","f9844e06.067bb","600a26c8.9ff5d8"]]},{"id":"d7019e94.28fe6","type":"exec","command":"wget -O public/snapshot.jpg --user xxx --password pass http://localhost:8080/?action=snapshot","append":"","useSpawn":"","name":"Take picture","x":478,"y":124,"z":"f3295df4.0cd6a","wires":[["2e42b1e1.d1bd4e"],[],[]]},{"id":"889f2e1b.7760d","type":"file in","name":"","filename":"public/snapshot.jpg","format":"","x":782,"y":93,"z":"f3295df4.0cd6a","wires":[["48e12cd5.b71ed4"]]},{"id":"2a824439.d57dbc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1065,"y":282,"z":"f3295df4.0cd6a","wires":[]},{"id":"22e98c28.dd1674","type":"inject","name":"MoveForward","topic":"","payload":"#rambot mf","payloadType":"string","repeat":"","crontab":"","once":false,"x":134,"y":134,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"5db5fde.fa24a04","type":"inject","name":"MoveBack","topic":"","payload":"#rambot mb","payloadType":"string","repeat":"","crontab":"","once":false,"x":142,"y":196,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"feb7811e.01488","type":"inject","name":"TurnLeft","topic":"","payload":"#rambot tl","payloadType":"string","repeat":"","crontab":"","once":false,"x":150,"y":256,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"45f80b62.ba07f4","type":"inject","name":"TurnRight","topic":"","payload":"#rambot tr","payloadType":"string","repeat":"","crontab":"","once":false,"x":153,"y":313,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"91fd1408.6e02e8","type":"inject","name":"TiltUp","topic":"","payload":"#rambot tu","payloadType":"string","repeat":"","crontab":"","once":false,"x":160,"y":367,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"8f5fbdb4.70a04","type":"inject","name":"TiltDown","topic":"","payload":"#rambot td","payloadType":"string","repeat":"","crontab":"","once":false,"x":162,"y":415,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"d4b31a20.2b4ce8","type":"inject","name":"CenterCam","topic":"","payload":"#rambot tcpc","payloadType":"string","repeat":"","crontab":"","once":false,"x":159,"y":467,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"64cc2223.9b33dc","type":"inject","name":"PanLeft","topic":"","payload":"#rambot pl","payloadType":"string","repeat":"","crontab":"","once":false,"x":169,"y":517,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"9abf18.ff6540e8","type":"inject","name":"PanRight","topic":"","payload":"#rambot pr","payloadType":"string","repeat":"","crontab":"","once":false,"x":170,"y":565,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"c75f419.f38a0c","type":"inject","name":"Schnaaap","topic":"","payload":"#rambot pi","payloadType":"string","repeat":"","crontab":"","once":false,"x":137,"y":84,"z":"f3295df4.0cd6a","wires":[["506a50c0.af95b"]]},{"id":"2b809a0c.d47f66","type":"twitter in","twitter":"","tags":"#rambot","user":"false","name":"#Rambot","topic":"tweets","x":406,"y":540,"z":"f3295df4.0cd6a","wires":[["e2374dbf.1dc8b","ff914808.006eb8","8c30f3.ff73cf1"]]},{"id":"b779afb4.48865","type":"http request","name":"StartCamera","method":"GET","url":"http://localhost/cgi-bin/rambot.py?action=startstream&movement=0","x":411,"y":38,"z":"f3295df4.0cd6a","wires":[["3818522b.c7e7ae"]]},{"id":"5af094de.a50f6c","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":170,"y":37,"z":"f3295df4.0cd6a","wires":[["b779afb4.48865"]]},{"id":"3818522b.c7e7ae","type":"debug","name":"","active":true,"console":"false","complete":"false","x":653,"y":37,"z":"f3295df4.0cd6a","wires":[]},{"id":"273379d.fd8cc86","type":"async","name":"Parse","async":"if(msg.payload.indexOf(\"selfie\") == -1) {\n\tmsg.screenname = msg.topic.split('/')[1];\n\t//action values:\n\tvar ACTION_PAN = 'pan';\n\tvar ACTION_TILT = 'tilt';\n\tvar ACTION_MOVE = 'move';\n\tvar ACTION_TURN = 'turn';\n\tvar ACTION_PIC = 'pic';\n\t\n\t// movement default values: \n\tvar MOVEMENT_pc = -50;\n\tvar MOVEMENT_pc_delay = 700;\n\tvar MOVEMENT_pl = -80;\n\tvar MOVEMENT_pl_delay = 700;\n\tvar MOVEMENT_pr = -20;\n\tvar MOVEMENT_pr_delay = 700;\n\tvar MOVEMENT_tu = 50;\n\tvar MOVEMENT_tu_delay = 700;\n\tvar MOVEMENT_td = 0;\n\tvar MOVEMENT_td_delay = 700;\n\tvar MOVEMENT_tc = 25;\n\tvar MOVEMENT_tc_delay = 3000;\n\tvar MOVEMENT_mf = 150;\n\tvar MOVEMENT_mf_delay = 70*MOVEMENT_mf;\n\tvar MOVEMENT_mb = -150;\n\tvar MOVEMENT_mb_delay = 70*Math.abs(MOVEMENT_mb);\n\tvar MOVEMENT_tl = -90;\n\tvar MOVEMENT_tl_delay = 50*Math.abs(MOVEMENT_tl);\n\tvar MOVEMENT_tr = 90;\n\tvar MOVEMENT_tr_delay = 50*MOVEMENT_tr;\n\t\n\t// Re-center camera\n\t\n\tvar currDelay = 0;\n\t\n\tvar validInstructions = ['shwing', // turn left \n\t\t\t\t\t\t\t 'shwang', // turn right\t\t\t\t\t\t \n\t\t\t\t\t\t\t 'shne', // camera left \n\t\t\t\t\t\t\t 'shna', // camera right \n\t\t\t\t\t\t\t 'shnop', // camera up\n\t\t\t\t\t\t\t 'shnap', // camera down\n\t\t\t\t\t\t\t 'shwosh', // move forward\n\t\t\t\t\t\t\t 'shwash', // move backward\n\t\t\t\t\t\t\t 'shnapy' // take picture\n\t\t\t\t\t\t\t ];\n\t\n\t//convert to lowercase, strip whitespaces and strip #rambot\n\tmsg.payload = msg.payload.trim();\n\tmsg.payload = msg.payload.toLowerCase();\n\tmsg.payload = msg.payload.replace('#rambot','');\n\tvar words = msg.payload.split(' ');\n\t\n\tvar delayedAction = function(action, movement, delay) {\n\t\tcurrDelay = currDelay+delay;\n\t\t_.delay(function() {\n\t\t\tcb({screenname : msg.screenname, action:action, movement:movement});\n\t\t}, currDelay);\t\t\n\t};\n\t\n\tfor (i=0; i<words.length; i++){\n\t\tvar word = words[i];\n\t\tif(validInstructions.indexOf(word) != -1){\t\t\n\t\t\tswitch(word) {\n\t\t\t\tcase 'shnapy': \n\t\t\t\t\tdelayedAction(ACTION_PIC, 0, currDelay+2000);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shne':\n\t\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pl, MOVEMENT_pl_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shna': \n\t\t\t\t\tdelayedAction(ACTION_PAN, MOVEMENT_pr, MOVEMENT_pr_delay);\n\t\t\t\t\tbreak;\t\t\t\n\t\t\t\tcase 'shnop': \n\t\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_tu, MOVEMENT_tu_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shnap': \n\t\t\t\t\tdelayedAction(ACTION_TILT, MOVEMENT_td, MOVEMENT_td_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shwosh': \n\t\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mf, MOVEMENT_mf_delay);\n\t\t\t\t\tbreak;\t\t\t\t\t\n\t\t\t\tcase 'shwash': \n\t\t\t\t\tdelayedAction(ACTION_MOVE, MOVEMENT_mb, MOVEMENT_mb_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shwing': \n\t\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tl, MOVEMENT_tl_delay);\n\t\t\t\t\tbreak;\n\t\t\t\tcase 'shwang': \n\t\t\t\t\tdelayedAction(ACTION_TURN, MOVEMENT_tr, MOVEMENT_tr_delay);\n\t\t\t\t\tbreak;\t\t\t\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"x":468,"y":375,"z":"f3295df4.0cd6a","wires":[["1d6250d4.e29daf"]]},{"id":"e2374dbf.1dc8b","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":443,"y":445,"z":"f3295df4.0cd6a","wires":[["273379d.fd8cc86"]]},{"id":"3f625d9e.c09da2","type":"inject","name":"","topic":"topic/RambotPro","payload":"#rambot selfie","payloadType":"string","repeat":"","crontab":"","once":false,"x":600,"y":616,"z":"f3295df4.0cd6a","wires":[["8c30f3.ff73cf1"]]},{"id":"8c30f3.ff73cf1","type":"async","name":"","async":"// Re-center camera\nif(msg.payload.indexOf(\" selfie\") != -1) {\n\tmsg.screenname = msg.topic.split('/')[1];\n\n\t_.delay(function() {\n\t\tcb({action:\"pan\", movement:80});\n\t   }, 0);\n\t   \n\t_.delay(function() {\n\t\tcb({action:\"tilt\", movement:-50});\n\t   }, 500);\n\t   \n\t_.delay(function() {\n\t\tcb({selfie: true, screenname : msg.screenname, action:\"pic\", movement:0});\n\t   }, 6000);\n}","outputs":1,"x":787,"y":566,"z":"f3295df4.0cd6a","wires":[["1d6250d4.e29daf","4b58b36e.b4a74c"]]},{"id":"4b58b36e.b4a74c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":981,"y":553,"z":"f3295df4.0cd6a","wires":[]},{"id":"600a26c8.9ff5d8","type":"async","name":"Recenter camera","async":"_.delay(function() {\n\tcb({ action : \"tilt\", movement : 25});\n\t}, 400);\n_.delay(function() {\n\tcb({ action : \"pan\", movement : -50});\n\t}, 1400);","outputs":1,"x":855,"y":234,"z":"f3295df4.0cd6a","wires":[["979439c3.686bc8"]]},{"id":"2e42b1e1.d1bd4e","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":686,"y":154,"z":"f3295df4.0cd6a","wires":[["889f2e1b.7760d"]]}]
