tweet_dashboard.flow
[{"id":"225df8cd.dda208","type":"websocket-listener","path":"/ws/tweets","wholemsg":"true"},{"id":"9184a230.6e7b6","type":"twitter in","twitter":"","tags":"#rambot","user":"false","name":"","topic":"tweets","x":143,"y":200,"z":"b6ec5d78.4913a","wires":[["2f68bbc0.d09744"]]},{"id":"10b6e71d.ef4919","type":"http in","name":"","url":"/tweets","method":"get","x":151,"y":112,"z":"b6ec5d78.4913a","wires":[["12e4bb69.ed1b45"]]},{"id":"edea6bfe.121598","type":"http response","name":"","x":604,"y":108,"z":"b6ec5d78.4913a","wires":[]},{"id":"2f68bbc0.d09744","type":"websocket out","name":"","server":"225df8cd.dda208","x":430,"y":206,"z":"b6ec5d78.4913a","wires":[]},{"id":"12e4bb69.ed1b45","type":"template","name":"DisplayHTML","template":"<html>\n<head>\n\t<!-- Latest compiled and minified CSS -->\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css\">\n\n\t<!-- Optional theme -->\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css\">\n\n\t<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js\"></script>\n\n\t<!-- Latest compiled and minified JavaScript -->\n\t<!--<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js\"></script>-->\n\n</head>\n<body style=\"margin:0;\">\n\n\t<div class=\"col-xs-10\">\n\t\t<h2 class=\"sub-header\">Tweets</h2>\n  \t\t<div class=\"table-responsive\">\n\t\t\t<table id=\"tweetsTab\" class=\"table table-striped table-bordered\">\n\t\t\t\t<thead>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<th>Date</th>\n\t\t\t\t\t\t<th>Sender</th>\n\t\t\t\t\t\t<th>Tweet</th>\n\t\t\t\t\t\t<th width=\"50%\">Tweet Media</th>\n\t\t\t\t\t</tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody>\n\t\t\t\t</tbody>\n\t\t\t</table>\n\t\t</div>\n\t</div>\n\n\n\t<div class=\"col-xs-1\">\n\t\t<h2 class=\"sub-header\">Instructions</h2>\n  \t\t<div class=\"table-responsive\">\n\t\t\t<table id=\"comTab\" class=\"table table-striped table-bordered\">\n\t\t\t\t<thead>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td>Symbol</td>\n\t\t\t\t\t\t<th>Instruction</th>\n\t\t\t\t\t\t<th>Description</th>\n\t\t\t\t\t</tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTFNeFpcZ5KVSj8RQH6yob4BumVSjGtnE3kDYGDuwlORITfOutM\"></td>\n\t\t\t\t\t\t<td>shwing</td>\n\t\t\t\t\t\t<td>Left 45%</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS2V5N4MONMwLylFhlGtSFTnaKS7uTWUPnFY5jtjNYua_xknsK0\"></td>\n\t\t\t\t\t\t<td>shwang</td>\n\t\t\t\t\t\t<td>Right 45%</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSC-bfTAhRm1mb1s4YF_nHlTlP-GPUVk3c1PWb19LmwZvlsBzyK\"></td>\n\t\t\t\t\t\t<td>shwosh</td>\n\t\t\t\t\t\t<td>Forwards 100cm</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQx_1_UugPkxqdpb0LS0Hz49l97_o8epLCoP-_bA2zo0xnMxniL\"></td>\n\t\t\t\t\t\t<td>shwash</td>\n\t\t\t\t\t\t<td>Backwards</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeT69EGC-5ujNDL0TRtx5qOhFFqZTQ2wVPkx2ZE7hPPtrF3Xpy\"></td>\n\t\t\t\t\t\t<td>shnapy</td>\n\t\t\t\t\t\t<td>Take photo</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeT69EGC-5ujNDL0TRtx5qOhFFqZTQ2wVPkx2ZE7hPPtrF3Xpy\"><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTFNeFpcZ5KVSj8RQH6yob4BumVSjGtnE3kDYGDuwlORITfOutM\"></td>\n\t\t\t\t\t\t<td>shne</td>\n\t\t\t\t\t\t<td>Camera left</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeT69EGC-5ujNDL0TRtx5qOhFFqZTQ2wVPkx2ZE7hPPtrF3Xpy\"><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS2V5N4MONMwLylFhlGtSFTnaKS7uTWUPnFY5jtjNYua_xknsK0\"></td>\n\t\t\t\t\t\t<td>shna</td>\n\t\t\t\t\t\t<td>Camera right</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeT69EGC-5ujNDL0TRtx5qOhFFqZTQ2wVPkx2ZE7hPPtrF3Xpy\"><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSC-bfTAhRm1mb1s4YF_nHlTlP-GPUVk3c1PWb19LmwZvlsBzyK\"></td>\n\t\t\t\t\t\t<td>shnop</td>\n\t\t\t\t\t\t<td>Camera up</td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>\n\t\t\t\t\t\t<td><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeT69EGC-5ujNDL0TRtx5qOhFFqZTQ2wVPkx2ZE7hPPtrF3Xpy\"><img style=\"width: 20px; height: 20px;\" src=\"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQx_1_UugPkxqdpb0LS0Hz49l97_o8epLCoP-_bA2zo0xnMxniL\"></td>\n\t\t\t\t\t\t<td>shnap</td>\n\t\t\t\t\t\t<td>Camera down</td>\n\t\t\t\t\t</tr>\n\t\t\t\t</tbody>\n\t\t\t</table>\n\t\t</div>\n\t</div>\n\t\t\n\n\n\t\n\t<script type=\"text/javascript\">\n\t\tvar server = window.location.hostname + \":\" + window.location.port;\n        console.log(server);\n\t\t$(document).ready(function() {\n\t\t\tvar socket = new WebSocket(\"ws://\"+server+\"/ws/tweets\");\n\t\t\tsocket.onopen = function () {\n\t\t\t\tconsole.log(\"Connected to websocket\");\n\t\t\t\tsocket.onmessage = function(url) {\n\t\t\t\t\tconsole.log(url.data);\n\t\t\t\t\t\n\t\t\t\t\tvar obj       = jQuery.parseJSON(url.data);\n\t\t\t\t\tvar tweet     = document.createTextNode(obj.payload);\n\t\t\t\t\tvar sender    = document.createTextNode(obj.tweet.user.screen_name);\n\t\t\t\t\tvar crDate    = document.createTextNode(obj.tweet.created_at);\n\t\t\t\t\tvar tweetImg  = new Image();\n\t\t\t\t\tvar senderImg = new Image();\n\t\t\t\t\t\n\t\t\t\t\tvar tr           = document.createElement('tr');\n\t\t\t\t\tvar tdDate       = document.createElement('td');\n    \t\t\t\tvar tdSender     = document.createElement('td');\n\t\t\t\t\tvar tdTweet      = document.createElement('td');\n\t\t\t\t\tvar tdImage      = document.createElement('td');\n\t\t\t\t\tvar oldTable     = document.getElementById('tweetsTab');\n\t\t\t\t\t\n\t\t\t\t\tsenderImg.src  = obj.tweet.user.profile_image_url;\n\t\t\t\t\ttdDate.appendChild(crDate);\n\t\t\t\t\ttdSender.appendChild(senderImg);\n\t\t\t\t\ttdSender.appendChild(sender);\n\t\t\t\t\ttdTweet.appendChild(tweet);\n\t\t\t\t\ttdImage.appendChild(tweetImg);\n\t\t\t\t\t\n\t\t\t\t\t// check for media\n\t\t\t\t\tif ($(obj.tweet.extended_entities).length) {\n\t\t\t\t\t\ttweetImg.src   = obj.tweet.extended_entities.media[0].media_url;\n\t\t\t\t\t\ttdImage.appendChild(tweetImg);\n\t\t\t\t\t}\n\t\t\t\t\t\n\t\t\t\t\ttr.appendChild(tdDate);\n\t\t\t\t\ttr.appendChild(tdSender);\n\t\t\t\t\ttr.appendChild(tdTweet);\n\t\t\t\t\ttr.appendChild(tdImage);\n\t\t\t\t\t\n\t\t\t\t\t// append the new row\n\t\t\t\t\t$(\"#tweetsTab tbody\").prepend(tr);\n\t\t\t\t\t\n\t\t\t\t}\n\t\t\t};\t\t\t\n\t\t\tsocket.onclose = function() {\n\t\t\t\tsetTimeout(function(){\n\t\t\t\t\tlocation.reload();\t\n\t\t\t\t}, 3000);\n\t\t\t};\n\t\t});\n\t</script>\n</body>\n</html>","x":405,"y":109,"z":"b6ec5d78.4913a","wires":[["edea6bfe.121598"]]},{"id":"90562712.6fa9d8","type":"exec","command":"DISPLAY=:0 midori -e Fullscreen -a","append":" &","useSpawn":false,"name":"Midori","x":710.333251953125,"y":275,"z":"b6ec5d78.4913a","wires":[["94198d6e.6be67"],["94198d6e.6be67"],["94198d6e.6be67"]]},{"id":"94198d6e.6be67","type":"debug","name":"","active":true,"console":"false","complete":"true","x":976.0000610351562,"y":270.6666259765625,"z":"b6ec5d78.4913a","wires":[]},{"id":"34b7f828.cb4808","type":"inject","name":"Launch browser","topic":"","payload":"http://10.110.66.177:1880/tweets","payloadType":"string","repeat":"","crontab":"","once":false,"x":195,"y":278.6666259765625,"z":"b6ec5d78.4913a","wires":[["90562712.6fa9d8"]]}]
